@using m8.Web.Models;
<div class="@CssClass">
    <h1>Work Experience</h1>

    @foreach (var work in WorkExperiences)
    {
        <div class="row card flex-row mb-2 p-3">
            <div class="col-4">
                <span class="fw-bold text-secondary">@work.From.ToString("MMM yyyy") - @(work.To != null ? @work.To.Value.ToString(" MMM yyyy") : "current")</span>
            </div>
            <div class="col-8">
                <p class="fw-bold">@work.JobTitle</p>
                <p><span class="fw-bold text-secondary">@work.Company</span> (@work.Location)</p>
                <p>@work.Description</p>
                <p class="fw-bold mb-0">Primary technologies:</p>
                <ul class="m-0">
                    @foreach (var tech in work.Technologies)
                    {
                        <li>@tech</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>